In [ ]:
#question 1.3
name = ["Mohan", "dash", "karam", "chandra","gandhi","Bapu"]
name.insert(0,"freedom_fighter")
name

['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu']

In [ ]:
name = ["freedomFighter","Bapuji","MOhan" "dash", "karam", 
"chandra","gandhi"]

length1=len((name[-len(name)+1:-1:2]))

length2=len((name[-len(name)+1:-1]))

print(length1+length2)

6

In [ ]:
name.append(["NetaJi","Bose"] )

In [ ]:
name

['freedomFighter',
 'Bapuji',
 'MOhandash',
 'karam',
 'chandra',
 'gandhi',
 ['NetaJi', 'Bose']]

In [ ]:
name = ["Bapuji", "dash", "karam", "chandra","gandi","Mohan"]

temp=name[-1]

name[-1]=name[0]

name[0]=temp

print(name)

['Mohan', 'dash', 'karam', 'chandra', 'gandi', 'Bapuji']

In [ ]:
#question 1.4
animal = ['Human','cat','mat','cat','rat','Human', 'Lion']

print(animal.count('Human'))

print(animal.index('rat'))

print(len(animal))

2
4
7

In [ ]:
#Question 1.5
tuple1=(10,20,"Apple",3.4,'a',["master","ji"],("sita","geeta",22),[{"roll_no":1},
{"name":"Navneet"}])

In [ ]:
print(len(tuple1))
print(tuple1[-1][-1]["name"])
print(tuple1[-1][0]["roll_no"])
print(tuple1[-3][1])
print(tuple1[-2][-1])

8
Navneet
1
ji
22

In [ ]:
#question 1.6
print('''
       RED  -> STOP
       YELLOW -> STAY
       GREEN  -> GO
''')

       RED  -> STOP
       YELLOW -> STAY
       GREEN  -> GO

In [ ]:
#question 1.7
def calculater(a,op,b):
    if(op == '+'):
        print(f"{a} {op} {b} is {a+b}")
    elif(op == '-'):
        print(f"{a} {op} {b} is {a-b}")
    elif(op == '*'):
        print(f"{a} {op} {b} is {a*b}")
    else:print(f"{a} {op} {b} is {a/b}")

calculater(3,"+",5)

3 + 5 is 8

In [ ]:
#question 1.8
a = 4
b = 10
c = 3
larger =0
if(a>b):
    larger = (c,a)[a>c]
else:
    larger = (c,b)[b>c]
print(larger)

10

In [ ]:
#question 1.9
def factors(num):
    result  = []
    i = num
    while(i>0):
        s = num%i
        if(s == 0):result.append(i)
        i-=1
    return result
print("factors of 15 is ",factors(15))

factors of 15 is  [15, 5, 3, 1]

In [13]:
#question 1.10
def sum():
    result=0
    while(True):
        a = int(input("Enter the number"))
        if(a<0):break
        else:result+=a
    print("sum of all nuber is",result)
sum()

In [ ]:
#question 1.11
for i in range(2,101):
    flag = True
    for j in range(2,i):
        if(i%j ==0):
            flag = False
            print(f"{i} is not prime")
            break
    if(flag == True):
        print(f"{i} is a prime number")

In [ ]:
#question 1.12
n= int(input("Enter the no of student"))
subjects= ["sub1","sub2","sub3","sub4","sub5"]
record ={}
for i in range(n):
    b  =[]
    for j in subjects:
        a = int(input(f"Enter the {i+1} student {j} marks"))
        b.append(a)
    record[i+1] = b

In [ ]:
print(record)

In [ ]:
avg_mark =[]
for i in range(1,n+1):
    sum = 0
    for  i in (record[i]):
        sum+=i
    avg = sum/5
    avg_mark.append(avg)
    print(avg)

In [ ]:
for i in avg_mark:
    if(i>85):print("grade A")
    elif(i>75):print("grade B")
    elif(i>50):print("grade C")
    elif(i>30):print("grade D")
    else:print("Reappear")

In [ ]:
#question 1.13
print('''
          COLOR        WAVELENGTH(nm)
          Violet       400.0-440.0
          Indigo       440.0-460.0
          Blue         460.0-500.0
          Green        500.0-570.0
          Yellow       570.0-590.0
          Orange       590.0-620.0
          Red          620.0-720.0''')

          COLOR        WAVELENGTH(nm)
          Violet       400.0-440.0
          Indigo       440.0-460.0
          Blue         460.0-500.0
          Green        500.0-570.0
          Yellow       570.0-590.0
          Orange       590.0-620.0
          Red          620.0-720.0

In [ ]:
#question 1.14
mass_earth = 5.972e24  # Mass of Earth in kilograms

mass_moon = 7.3477309e22  # Mass of Moon in kilograms

mass_sun = 1.989e30  # Mass of Sun in kilograms


distance_earth_sun = 1.496e11  # Average distance between Earth and Sun in meters

distance_moon_earth = 3.844e8  # Average distance between Moon and Earth in meters
g = 6.6743e-11

In [ ]:
forse_earth_sun = g*mass_earth*mass_sun/distance_earth_sun ** 2
print(forse_earth_sun)

3.5423960813684973e+22

In [ ]:
forse_moon_earth = g*mass_moon*mass_earth/distance_moon_earth**2
print(forse_moon_earth)

1.9820381398036398e+20

In [ ]:
if(forse_earth_sun > forse_moon_earth):print("forse between earth and sun is strong")
else:print("forse between moon and earth is strong")

forse between earth and sun is strong

In [ ]:
#question 1.15
class Student:
    def __init__(self,name,age,roll):
        self.__name = name
        self.__age = age
        self.__roll = roll
    def set_age(self,age):
        self.__age =age
    def get_age(self):
        return self.__age
    def set_roll(self,roll):
        self.__roll = roll
    def get_roll(self):
        return self.__roll
    def details(self):
        print(f"name is {self.__name}\nroll is {self.__roll}\nage is {self.__age}")

In [ ]:
a = Student("rahuk",12,300)

In [ ]:
a.set_age(32)

In [ ]:
a.get_age()

32

In [ ]:
a.set_roll(302)
a.get_roll()

302

In [ ]:
a.details()

name is rahuk
roll is 302
age is 32

In [ ]:
#question 3
class LibraryBook:
    def __init__(self,book_name,author,availability):
        self.__book_name = book_name
        self.__author = author
        self.__availability  = availability
    def borrow(self):
        if(self.__availability == False):
            print("Book is not avilable")
            pass
        else:
            self.__availability = False
    def returning(self):
        self.__availability = True

In [ ]:
a = LibraryBook("Physical world","R.K.Narayan",True)

In [ ]:
a.borrow()

In [ ]:
a.returning()

In [ ]:
#question 4
class Bankaccount:
    def __init__(self,name,balance):
        self._name = name
        self._balance = balance
    def add_balance(self,amount):
        self._balance+= amount
        print(f"{amount} is added succesfully")
    def remove_balance(self,amount):
        if(amount>self._balance):print(f"enterd amount {amount} not in account")
        else:
            self._balance-=amount
            print(f"amount {amount} credited successfuly\nThe avilable balance is {self._balance}")
    def inquiry(self):
        print(f"The avilable balance is {self._balance}")

In [ ]:
class SavingsAccount(Bankaccount):
    def __init__(self,name,amount):
        super().__init__(name,amount)
        self._name = name
        self._balance = amount
    def deposit(self,amount):
        self.add_balance(amount)
    def withdrow(self,amount):
        self.remove_balance(amount)
    def balance_inquiry(self):
        self.inquiry()


class CheckingAccount(Bankaccount):
    def __init__(self,name,amount):
        super().__init__(name,amount)
        self._name = name
        self._balance = amount
    def deposit(self,amount):
        self.add_balance(amount)
    def withdrow(self,amount):
        self.remove_balance(amount)
    def balance_inquiry(self):
        self.inquiry()

In [ ]:
a = SavingsAccount("gaura",400)

In [ ]:
a.add_balance(200)

200 is added succesfully

In [ ]:
a.withdrow(200)

amount 200 credited successfuly
The avilable balance is 400

In [ ]:
a.balance_inquiry()

The avilable balance is 400

In [ ]:
b =CheckingAccount("asdfg",1000)

In [ ]:
#question 5
class Animal:
    def make_sound():
        print("Animals have sounts")

class Dog(Animal):
    def make_sound(self):
        print("dogs are barking voo voo")
        pass

class Cat(Animal):
    def make_sound(self):
        print("cats sounts meow")
        pass

In [ ]:
dog = Dog()

In [ ]:
dog.make_sound()

dogs are barking voo voo

In [ ]:
cat = Cat()

In [ ]:
cat.make_sound()

cats sounts meow

In [ ]:
#question 6

In [ ]:
class Menuitem:
    def __init__(self,name,description,category):
        self._name = name
        self._description = description
        self._category = category
    def info(self):
        print(f'''
            Name :- {self._name}
            Description :- {self._description}
            Category :- {self._category}''')
    def set_name(self,name):
        self._name=name
    def set_description(self,val):
        self._description = val
    def set_category(self,val):
        self._category  = val

In [ ]:
class Fooditem(Menuitem):
    def __init__(self,name,description,category):
        super().__init__(self,description,category)
        self._name = name
        self._description = description
        self._category = category

In [ ]:
ob = Fooditem("cocacola","coldrinks","drinken_item")

In [ ]:
ob.info()

            Name :- cocacola
            Description :- coldrinks
            Category :- drinken_item

In [ ]:
class Beverageitem(Menuitem):
    def __init__(self,name,description,category):
        super().__init__(self,description,category)
        self._name = name
        self._description = description
        self._category = category

In [ ]:
ob1 = Beverageitem("manchurian","stater","chinise")

In [ ]:
ob1.info()

            Name :- manchurian
            Description :- stater
            Category :- chinise